<div class="wrapper">

    <div class="block">
        <!-- <Div><H1>Welcom to School Managment System</H1></Div> -->
        <form [formGroup]= "login">
            <h1 style="color: black;">Welcom to School Managment System</h1>
            <H1>LOGIN</H1>
            <!-- <input type="text" placeholder="Enter User Name" class="inp" formControlName="Uname"/>
            <input type="password" placeholder="Enter Password" class="inp" formControlName="password"/>
            <input type="text" placeholder="Enter Designation" class="inp" formControlName="occupation"/> -->
            <div class="btns">
                <button class="log-btn" (click)= "goToDashboard()" >Student Login</button>
                <button class="log-btn" (click)= "goToSignup()" >Teacher Login</button>
            </div>
        </form>
        
</div>

</div>
